body {
  font-family: Arial, sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp2467148.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.batch-comparison-container {
  padding: 20px;
  margin: 20px;
  width: 90%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.1rem;
  color: #004085;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #004085;
  color: white;
}

td {
  background-color: #fff;
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #004085;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004085;
}

/* Responsive Styles */
@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  table {
    font-size: 14px;
  }
  button {
    padding: 8px 16px;
  }
}
